@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-weight: 800 !important;
  font-size: 2.2em !important;
}

.img {
  width: 200px;
  height: 250px;
}

.card-title {
  font-family: "Dancing Script", cursive;
  font-size: 1.2em !important;
  font-weight: 600;
}

.footers {
  font-family: "Dancing Script", cursive;
  font-size: 1.6em !important;
  font-weight: 600;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 4 !important;
    -moz-column-count: 4 !important;
    column-count: 4 !important;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 5 !important;
    -moz-column-count: 5 !important;
    column-count: 5 !important;
  }
}
